
.table-view {
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-border-width: 0.083333em, 0.083333em;
}

.table-view .column-header{
    -fx-pref-height: 15;
    -fx-border-style: solid;
    -fx-border-color: rgb(130, 130, 130);
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em;
    -fx-background-color: white;
}

.table-view .column-header-background .label {
    -fx-font-family: "Arial";
    -fx-font-size: 8pt;
    -fx-font-weight: normal;
}

.table-row-cell {
    -fx-cell-size: 15px;
}

.table-view .table-cell{
    -fx-font-size: 8pt;
    /* -fx-text-fill:orange; */
}

/*removing bottom scroll bar*/
.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}