@font-face {
    src: url("com/sunmyoung/tasktracker/fonts/HoonGomulsang.ttf");
    /*src: url("com/sunmyoung/tasktracker/fonts/BareunBatang.ttf");*/
}

.table-view .column-header-background .label {
    -fx-font-family: "1HoonGomulsang Regular";
    /*-fx-font-family: "BareunBatang Regular";*/
    -fx-font-size: 17pt;
    -fx-font-weight: normal;
}

.table-row-cell {
    -fx-cell-size: 40px;
}

.table-view .table-cell{
    -fx-font-size: 15pt;
    /* -fx-text-fill:orange; */
}